= form_for @service do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{@service.errors.count} feil hindret denne tjenesten fra å bli lagret:"
      %ul
        - @service.errors.full_messages.each do |message|
          %li= message

  %div.form-row
    %div.form-group.col-md-4
      .field
        = f.label :title
        = f.text_field :title, class: "form-control"
  %div.form-row
    %div.form-group.col-md-4
      .field
        = f.label :description
        = f.text_area :description, class: "form-control"
  %div.form-row
    %div.form-group.col-md-4
      .field
        = f.label :price_per_month
        = f.text_field :price_per_month, class: "form-control"
  %div.form-row
      .field
        = f.hidden_field :active, value: true
  %div.form-row
    .actions
      = f.submit 'Lagre', class: "btn btn-primary btn-lg text-light btn-sm"
      = link_to 'Tilbake', services_path, class: "btn btn-primary btn-lg text-light btn-sm"
