= form_for @service do |f|
  - if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :price_per_month
    = f.text_field :price_per_month
  .field
    = f.label :active
    = f.check_box :active
  .actions
    = f.submit 'Lagre'
