%h1 Tjenester, oversikt

%table
  %thead
    %tr
      %th Tjeneste
      %th Beskrivelse
      %th Pris pr. mnd
      %th Tilgjengelig

    %tbody
      - @services.each do |service|
        %tr
          - if current_user.user_level == 1
            %td= service.title
            %td= service.description
            %td= service.price_per_month
            %td
              - if service.active
                Ja
              - else
                Nei

          - else
            - if current_user == service.users.first
              %td= service.title
              %td= service.description
              %td= service.price_per_month
              %td
                - if service.active
                  Ja
                - else
                  Nei

- if current_user.user_level == 1
  %br
  = link_to 'Ny tjeneste', new_service_path

%br
= link_to 'Tilbake', index_path
