%h1 Liste over tjenester

%table
  %thead
    %tr
      %th Tjeneste
      %th Beskrivelse
      %th Pris pr. mnd
      %th Aktiv
      %th
      %th
      %th

  %tbody
    - @services.each do |service|
      %tr
        - if service.users.first == current_user
          %td= service.title
          %td= service.description
          %td= service.price_per_month
          -# Sjekker bare om tjenesten er aktiv, ikke om
          -#
          %td
            - if service.active
              Ja
            - else
              Nei
          - if service.users.first.user_level == 1
            %td= link_to 'Vis', service
            %td= link_to 'Endre', edit_service_path(service)
            %td= link_to 'Slett', service, method: :delete, data: { confirm: 'Are you sure?' }


            %br

            = link_to 'Ny tjeneste', new_service_path


%br
= link_to 'Tilbake', marina_index_path
