%div.container
  %p#notice= notice

  %p
    %b Title:
    = @service.title
  %p
    %b Description:
    = @service.description
  %p
    %b Price per month:
    = @service.price_per_month
  %p
    %b Active:
    = @service.active

  = link_to 'Endre', edit_service_path(@service), class: "text-primary"
  \|
  = link_to 'Tilbake', services_path, class: "text-primary"
