= form_for @pier do |f|
  - if @pier.errors.any?
    #error_explanation
      %h2= "#{@pier.errors.count} feil hindret denne pierbokstaven fra å bli lagret:"
      %ul
        - @pier.errors.full_messages.each do |message|
          %li= message
  %div.form-row
    %div.form-group.col-md-1
      .field
        = f.label :bokstav
        = f.text_field :letter, class: "form-control"
        %br
      .actions
        = f.submit 'Lagre', class: "btn btn-primary btn-lg text-light btn-sm"
        = link_to 'Tilbake', piers_path, class: "btn btn-primary btn-lg text-light btn-sm"
