= form_for @pier do |f|
  - if @pier.errors.any?
    #error_explanation
      %h2= "#{@pier.errors.count} feil hindret denne bryggebokstaven fra å bli lagret:"
      %ul
        - @pier.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :bokstav
    = f.text_field :letter
  .actions
    = f.submit 'Lagre'
