= form_for @pier do |f|
  - if @pier.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pier.errors.count, "error")} prohibited this pier from being saved:"
      %ul
        - @pier.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :bokstav
    = f.text_field :letter
  .actions
    = f.submit 'Lagre'
