%h1 Brygger, oversikt

%table
  %thead
    %tr
      %th Bokstav
      %th
      %th
      %th

  %tbody
    - @piers.each do |pier|
      %tr
        %td= pier.letter
        %td= link_to 'Vis', pier
        %td= link_to 'Endre', edit_pier_path(pier)
        %td= link_to 'Slett', pier, method: :delete, data: { confirm: 'Er du sikker?' }

%br
= link_to 'Ny brygge', new_pier_path
%br
= link_to 'Tilbake', index_path
