%div.container
  - if current_user
    - if current_user.user_level == 0
      %div.row
        %div.col-4
          = link_to 'Mine B책ter', boats_path, class: "text-primary"
        %div.col-4
          = link_to 'Mine Tjenester', services_path, class: "text-primary"
    - elsif current_user.user_level == 1
      %div.btn-group.mx-auto
        = link_to 'B책ter', boats_path, class: "btn btn-primary btn-lg text-light"
        = link_to 'Tjenester', services_path, class: "btn btn-primary btn-lg text-light"
        = link_to 'B책tplasser', berths_path, class: "btn btn-primary btn-lg text-light"
        = link_to 'Brygger', piers_path, class: "btn btn-primary btn-lg text-light"
        = link_to 'Brukere', users_path, class: "btn btn-primary btn-lg text-light"
        = link_to 'Tjenestebestillinger', service_orders_path, class: "btn btn-primary btn-lg text-light"
        = link_to 'B책tplassbestillinger', berth_orders_path, class: "btn btn-primary btn-lg text-light"
