%div.container
  - if current_user
    - if current_user.user_level == 0
      %ul.nav.justify-content-center
        %li.nav-item
          = menu_link 'Mine B책ter', boats_path
        %li.nav-item
          = menu_link 'Mine Tjenester', services_path
    - elsif current_user.user_level == 1
      %ul.nav.justify-content-center
        %li.nav-item
          = menu_link 'B책ter', boats_path
        %li.nav-item
          = menu_link 'Tjenester', services_path
        %li.nav-item
          = menu_link 'B책tplasser', berths_path
        %li.nav-item
          = menu_link 'Brygger', piers_path
        %li.nav-item
          = menu_link 'Brukere', users_path
        %li.nav-item
          = menu_link 'Tjenestebestillinger', service_orders_path
        %li.nav-item
          = menu_link 'B책tplassbestillinger', berth_orders_path
