- if current_user.user_level == 0
  = link_to 'Mine B책ter', boats_path
  = link_to 'Mine Tjenester', services_path

- if current_user.user_level == 1
  = link_to 'B책ter', boats_path
  = link_to 'Tjenester', services_path
  = link_to 'B책tplasser', berths_path
  = link_to 'Brygger', piers_path
  = link_to 'Brukere', users_path
  = link_to 'Tjenestebestillinger', service_orders_path
  = link_to 'B책tplassbestillinger', berth_orders_path
