%div.container
  %h2 Registrere bruker
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (minst #{@minimum_password_length} bokstaver)
      %br/
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    .actions
      = f.submit "Lag bruker"
  = render "devise/shared/links"
