= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{@user.errors.count} feil hindret denne brukeren å bli lagret:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  %div.form-row
    %div.form-group.col-md-6
      .field
        = f.label :email
        = f.text_field :email, class: "form-control"
  %div.row
    .actions
      = f.submit 'Lagre bruker', class: "btn btn-primary btn-lg text-light btn-sm"
      = link_to 'Tilbake', users_path, class: "btn btn-primary btn-lg text-light btn-sm"
