= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{@user.errors.count} feil hindret denne brukeren å bli lagret:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone_number
    = f.text_field :phone_number
  .field
    = f.label :street_name
    = f.text_field :street_name
  .field
    = f.label :street_number
    = f.text_field :street_number
  .field
    = f.label :post_code
    = f.text_field :post_code
  .actions
    = f.submit 'Lag bruker'
