%h1 Brukere, oversikt

%table
  %thead
    %tr
      %th= :user_level
      %th= :first_name
      %th= :last_name
      %th= :email
      %th= :phone_number
      %th= :street_name
      %th= :street_number
      %th= :post_code
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.user_level
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.phone_number
        %td= user.street_name
        %td= user.street_number
        %td= user.post_code
        %td= link_to 'Vis', user
        %td= link_to 'Endre', edit_user_path(user)
        %td= link_to 'Slett', user, method: :delete, data: { confirm: 'Er du sikker?' }

%br

= link_to 'Ny bruker', new_user_path
= link_to 'Tilbake', marina_index_path
