%p#notice= notice

%p
  %b User level:
  = @user.user_level
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email
%p
  %b Phone number:
  = @user.phone_number
%p
  %b Street name:
  = @user.street_name
%p
  %b Street number:
  = @user.street_number
%p
  %b Post code:
  = @user.post_code

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
