= form_for @berth_order do |f|
  - if @berth_order.errors.any?
    #error_explanation
      %h2= "#{@berth_order.errors.count} feil hindret denne bestillingen fra å bli lagret:"
      %ul
        - @berth_order.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Lagre'
