= form_for @berth_order do |f|
  - if @berth_order.errors.any?
    #error_explanation
      %h2= "#{@berth_order.errors.count} feil hindret denne bestillingen fra å bli lagret:"
      %ul
        - @berth_order.errors.full_messages.each do |message|
          %li= message

  - if current_user.user_level == 1
    %div.form-row
      .field
        = f.label :bryggebokstav
        %div.dropdown
          = f.collection_select(:pier, Pier.all, :id, :letter)
      .field
        = f.label :bryggenummer
        %div.dropdown
          = f.collection_select(:berth, Berth.all, :id, :berth_number)
      .field
        = f.label :båteier
        %div.dropdown
          = f.collection_select(:boat, User.all, :id, :full_name)
      .field
        = f.label :båt
        %div.dropdown
          -# f.collection_select(:boat, Boat.all, :id, :reg_nr)

  - if current_user.user_level != 1
    %div.form-row
      %div.form-group.col-md-12
        .field
          = f.hidden_field :user_id, value: current_user.id
          - if params[:boat_id]
            = f.hidden_field :boat, value: params[:boat_id]
          - else
            %div.dropdown
              // TODO: Alle båter som tilhører brukeren som IKKE har en båtplass fra før
              = f.collection_select(:boat_id, current_user.boats.unassigned, :id, :reg_number, {prompt: 'Velg båt'})
              // TODO: Melding, dersom ingen passende båter finnes
              // TODO: Velg automatisk båten (men vis reg_number) dersom kun én aktuell båt finnes.
  %div.form-row
    %div.form-group.col-md-2
      = f.label :fra
      = f.date_field :start_berth_order, class: "form-control"
    %div.form-group.col-md-2
      = f.label :til
      = f.date_field :end_berth_order, class: "form-control"
  .actions
    = f.submit 'Lagre', class: "btn btn-primary btn-lg text-light btn-sm"
    - if current_user.user_level == 1
      = link_to 'Tilbake', berth_orders_path, class: "btn btn-primary btn-lg text-light btn-sm"
    - else
      = link_to 'Tilbake', boats_path, class: "btn btn-primary btn-lg text-light btn-sm"
