= form_for @berth_order do |f|
  - if @berth_order.errors.any?
    #error_explanation
      %h2= "#{@berth_order.errors.count} feil hindret denne bestillingen fra 책 bli lagret:"
      %ul
        - @berth_order.errors.full_messages.each do |message|
          %li= message

  %div.form-row
    %div.col
      %div.row
        .field
          = f.label :user, 'B책teier:'
          = @berth_order.boat.user.email
      %div.row
        .field
          = f.label :name, 'B책tnavn:'
          = f.label @berth_order.boat.name
      %div.row
        .field
          = f.label :season, 'Sesong:'
          = f.collection_select(:season_id, @current_seasons, :id, :title)
      %div.row
        .field
          = f.label :status, 'Status:'
          = f.collection_select(:status_id, @status, :id, :status)
      %div.row
        .field
          = f.label :berth, 'Tildel b책tplass:'
          = f.collection_select(:berth_id, @available_berths, :id, :name)


    .actions
      = f.submit 'Lagre', class: "btn btn-primary btn-lg text-light btn-sm"
      = link_to 'Tilbake', berth_orders_path, class: "btn btn-primary btn-lg text-light btn-sm"
