%div.container
  %h1 B책tplassbestillinger

  %table.table
    %thead
      %tr
        %th{scope: "col"} B책tplass
        %th{scope: "col"} Reg. nr, b책t
        %th{scope: "col"} Pris pr. mnd
        %th{scope: "col"} Utleie fra
        %th{scope: "col"} Utleie til
        %th
        %th
        %th

    %tbody
      - @berth_orders.each do |berth_order|
        - if !berth_order.berth.nil? && !berth_order.boat.nil?
          %tr
            %td= berth_order.berth.berth_number
            %td= berth_order.boat.reg_number
            %td= berth_order.berth.price_per_month
            %td= berth_order.start_date
            %td= berth_order.end_date
            %td= link_to 'Vis', berth_order, class: "text-primary"
            %td= link_to 'Endre', edit_berth_order_path(berth_order), class: "text-primary"
            %td= link_to 'Slett', berth_order, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-primary"

  %br
  = link_to 'Ny b책tplassbestilling', new_berth_order_path, class: "btn btn-primary btn-lg text-light"
  %br
  = link_to 'Tilbake', index_path, class: "btn btn-primary btn-lg text-light"
