%div.container
  %h1 Båtplassbestillinger

  %table.table
    %thead
      %tr
        %th{scope: "col"} Ordrenummer
        %th{scope: "col"} Båtnavn
        %th{scope: "col"} Sesong
        %th{scope: "col"} Status
        %th{scope: "col"} Båtplass
        - if current_user.admin?
          %th{scope: "col"} Båteier
        %th
        %th
        %th

    %tbody
      - @berth_orders.each do |berth_order|
        %tr
          %td= berth_order.id
          %td= berth_order.boat.name
          %td= berth_order.season.title
          %td= berth_order.status.status
          %td
            - if berth_order.berth_id
              = berth_order.berth.name
            - else
              Ikke tilegnet

          -#%td= link_to 'Vis', berth_order, class: "text-primary"|
          - if current_user.admin?
            %td= link_to berth_order.boat.user.email, user_path(berth_order.boat.user_id), class: "text-primary"
            %td= link_to 'Behandle', edit_berth_order_path(berth_order), class: "text-primary"
            -# TODO: Fjerne mulighet for slett?
            -# La heller bestillingen fjernes fra viewet basert på tid, og / eller om den har blitt avvist.
          %td= link_to 'Slett', berth_order, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-primary"
  %br
  - unless current_user.admin?
    = link_to 'Bestill båtplass', new_berth_order_path, class: "btn btn-primary btn-lg text-light btn-sm"
