= render 'step_guide'

%div.container.text-center#lastPage
  %p
    %b Ordrenummer:
    = @berth_order.id
  %p
    %b Båtnavn:
    = @berth_order.boat.name
  %p
    %b Sesong:
    = @berth_order.season.title
  %p
    %b Status:
    = @berth_order.status.status

  = link_to 'Liste over bestillinger', berth_orders_path, class: "text-primary"
