= render 'step_guide'

%div.container.text-center#lastPage
  %p
    %b Ordrenummer:
    = @berth_order.id
  %p
    %b Båtnavn:
    = @berth_order.boat.name
  %p
    %b Sesong:
    = "#{@berth_order.season.title}" + " ("+ "#{@berth_order.season.start_season_on}" + " - " + "#{@berth_order.season.end_season_on}" + ")"
  %p
    %b Status:
    = @berth_order.status.status

  = link_to 'Liste over bestillinger', berth_orders_path, class: "text-primary"
