= form_for @berth do |f|
  - if @berth.errors.any?
    #error_explanation
      %h2= "#{@berth.errors.count} feil hindret denne b책tplassen fra 책 bli lagret:"
      %ul
        - @berth.errors.full_messages.each do |message|
          %li= message

  %div.form-row
    %div.form-group.col-md-2
      .field
        = f.label :b책tplassnummer
        = f.number_field :berth_number, class: "form-control"
    %div.form-group.col-md-4
      .field
        = f.label :bredde
        \ (meter)
        = f.text_field :width, class: "form-control"
  %div.form-row
    %div.form-group.col-md-4
      .field
        = f.label :m책nedspris
        = f.text_field :cost, class: "form-control"
    %div.form-group.col-md-1
      .field
        = f.label :i_stand
        \
        = f.check_box :in_service, class: "form-control"
  %div.form-row
    %div.form-group.col-md-4
      .actions
        = f.submit 'Lagre', class: "btn btn-primary btn-lg text-light btn-sm"
        = link_to 'Tilbake', berths_path, class: "btn btn-primary btn-lg text-light btn-sm"
