= form_for @berth do |f|
  - if @berth.errors.any?
    #error_explanation
      %h2= "#{pluralize(@berth.errors.count, "error")} prohibited this berth from being saved:"
      %ul
        - @berth.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :båtplassnummer
    = f.number_field :berth_number
  .field
    = f.label :bredde
    = f.text_field :width
  .field
    = f.label :månedspris
    = f.text_field :price_per_month
  .field
    = f.label :i_stand
    = f.check_box :in_service
  .actions
    = f.submit 'Lagre'
