%div.container
  %h1 Båtplasser, oversikt

  %table.table
    %thead
      %tr
        %th{scope: "col"} Båtplassnr
        %th{scope: "col"} Bryggebokstav
        %th{scope: "col"} Bredde
        %th{scope: "col"} Pris pr. breddemeter
        %th{scope: "col"} I stand
        %th
        %th
        %th

    %tbody
      - @berths.each do |berth|
        %tr
          %td= berth.berth_number
          %td= berth.pier.letter
          %td= berth.width
          %td= berth.price_per_month
          - if berth.in_service
            %td Ja
          - else
            %td Nei
          %td= link_to 'Endre', edit_berth_path(berth), class: "text-primary"
          %td= link_to 'Slett', berth, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-primary"

  %br
  = link_to 'Ny båtplass', new_berth_path, class: "btn btn-primary btn-lg text-light btn-sm"
  = link_to 'Tilbake', index_path, class: "btn btn-primary btn-lg text-light btn-sm"
