%p#notice= notice

%p
  %b Berth number:
  = @berth.berth_number
%p
  %b Width:
  = @berth.width
%p
  %b Price per month:
  = @berth.price_per_month
%p
  %b In service:
  = @berth.in_service

= link_to 'Edit', edit_berth_path(@berth)
\|
= link_to 'Back', berths_path
