%div.container
  %p#notice= notice

  %p
    %b Båtplassnummer:
    = @berth.title
  %p
    %b Bredde:
    = @berth.width
  %p
    %b Månedspris:

  = link_to 'Endre', edit_berth_path(@berth), class: "text-primary"
  \|
  = link_to 'Tilbake', berths_path, class: "text-primary"
