%div.container
  %h1 Listing orders

  %table
    %thead
      %tr
        %th Ordrenummer
        %th Periode
        %th Totalsum
        %th
        %th
        %th
        %th


    %tbody
      - @orders.each do |order|
        %tr
          - if order.user_id == current_user.id
            %td= order.id
            %td= link_to 'Show', order
            %td= link_to 'Edit', edit_order_path(order)
            %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Order', new_order_path
