%div.container
  %h2 Logg inn
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :epost
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password, "Passord"
      %br/
      = f.password_field :password, autocomplete: "off"
    .actions
      = f.submit "Logg inn"
  = render "devise/shared/links"
