%h2 Mine båter:

%table
  %th Reg. nr
  %th Modell
  %th Lengde
  %th Bredde
  %th Båtplass
  %th Endre
  %tr

  - @boats.each do |boat|
    - if boat.user == current_user
      %td= boat.reg_number
      %td= boat.model
      %td= boat.length
      %td= boat.width
      %td= "#{boat&.berth_orders&.first&.berth&.pier&.letter}" + "#{boat&.berth_orders&.first&.berth&.berth_number}"
      %tr

  = form_for(Boat.new, validate: true, local: true) do |form|
    %td
      = form.text_field :reg_number
    %td
      = form.text_field :model
    %td
      = form.text_field :width
    %td
      = form.text_field :length
    %td

    %td
      = form.submit "Legg til båt"



%h2 Mine tilleggstjenester:

%table
  %th ID
  %th Tjeneste
  %th Beskrivelse
  %th Pris pr. mnd
  %th Startdato
  %th Sluttdato
  %tr
  - @service_orders.each do |service_order|
    - if service_order.user == current_user
      %td= service_order.service_id
      %td= service_order.service.title
      %td= service_order.service.description
      %td= service_order.service.price_per_month
      %td= service_order.start_service
      %td= service_order.end_service
      %tr
