= form_for @service_order do |f|
  - if @service_order.errors.any?
    #error_explanation
      %h2= "#{@service_order.errors.count} feil hindret denne bestillingen fra å bli lagret:"
      %ul
        - @service_order.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :bruker
    %p= "#{@service_order.user.first_name} " + "#{@service_order.user.last_name}"

  .field
    = f.label :tjeneste
    %p= "#{@service_order.service.title}"
  .field
    = f.label :begynner
    = f.date_field :start_service_order
  .field
    = f.label :utgår
    = f.date_field :end_service_order


  .actions
    = f.submit 'Lagre endringer'
