%table.table
  %thead
    %tr
      %th{scope: "col"} Ordrenr.
      %th{scope: "col"} Sesong
      %th{scope: "col"} Totalsum
      %th
      %th
      %th

  %tbody
    - @service_orders.each do |service_order|
      %tr
        %td= service_order.service_id
        %td= service_order.service.title

        -#%td= service_order.start_service_order
        -#%td= service_order.end_service_order
        -#%td= link_to 'Vis', show_service_order_path(service_order), class: "text-primary"
        %td= link_to 'Endre', edit_service_order_path(service_order), class: "text-primary"
        %td= link_to 'Slett', service_order, method: :delete, data: { confirm: 'Er du sikker?' }, class: "text-primary"


%br
= link_to 'Lag ny bestilling', new_service_order_path, class: "btn btn-primary btn-lg text-light btn-sm"
