%h3 Leie båtplass
%div.form-row
  = f.hidden_field :boat_id, value: @boat.id
  %div.form-group.col-md-3
    = f.label :fra
    = f.date_field :start_berth_order, class: "form-control"
  %div.form-group-col-md-3
    = f.label :til
    = f.date_field :end_berth_order, class: "form-control"
