.nested-fields
  

    = f.hidden_field :boat_id, value: @boat.id
    %div
        = f.label :start_dato
        = f.text_field :start_berth_order, class: 'datepicker', 'data-provide': 'datepicker', data: { date_format: 'dd.mm.yyyy' }
        = f.label :slutt_dato
        = f.text_field :end_berth_order, class: 'datepicker', 'data-provide': 'datepicker', data: { date_format: 'dd.mm.yyyy' }
        = f.check_box :_destroy, class: 'remove_record', onchange: "deleteCheckboxToggled(this)" 
        = 'Slett'
 