= form_for @boat do |f|
  - if @boat.errors.any?
    #error_explanation
      %h2= "#{@boat.errors.count} feil hindret denne båten fra å bli lagret:"
      %ul
        - @boat.errors.full_messages.each do |message|
          %li= message

  %div.form-row
    %div.form-group.col-md-6
      = f.label :reg_number
      = f.text_field :reg_number, placeholder: "A99-9", class: "form-control"
    %div.form-group.col-md-6
      = f.label :model
      = f.text_field :model, placeholder: "Askeladden C6", class: "form-control"
  %div.form-row
    %div.form-group.col-md-6
      = f.label :width
      = f.text_field :width, class: "form-control"
      = f.label :meter
    %div.form-group.col-md-6
      = f.label :length
      = f.text_field :length, class: "form-control"
      = f.label :meter

  .field
    = f.hidden_field :user_id, value: current_user.id
  .fields
    = f.fields_for :berth_orders do | berth_order |
      = render 'berth_order', f: berth_order   
  .actions
    = f.submit 'Lagre', class: "btn btn-outline-secondary text-dark" 
    = link_to_add_row 'Ny plassleie', f, :berth_orders, class: "btn btn-outline-secondary text-dark" 
