= form_for @boat do |f|
  - if @boat.errors.any?
    #error_explanation
      %h2= "#{@boat.errors.count} feil hindret denne båten fra å bli lagret:"
      %ul
        - @boat.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :reg_number
    = f.text_field :reg_number
  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :width
    = f.text_field :width
  .field
    = f.label :length
    = f.text_field :length
  .field
    = f.hidden_field :user_id, value: current_user.id

  .actions
    = f.submit 'Legg til'
