%table.table
  %thead
    %tr
      %th{scope: "col"} Båtnavn
      %th{scope: "col"} Bredde
      %th
      %th
      %th

  %tbody
    - @boats.each do |boat|
      - if boat.user == current_user
        %tr
          %td= boat.name
          %td= boat.width
          %td= link_to 'Vis', boat, class: "text-primary"
          %td= link_to 'Endre', edit_boat_path(boat), class: "text-primary"
          %td= link_to 'Slett', boat, method: :delete, data: { confirm: 'Er du sikker?' }, class: "text-primary"
