- provide(:title, "Add Boat")
- provide(:button_text, 'Add boat')
- provide(:form_action_url, boats_path)


%div
  %div.col-md-6.col-md-offset-3
    = render 'form' 

  %p
    = form.label :bredde
    = form.text_field :width

  %p
    = form.label :lengde
    = form.text_field :length

  %p
    = form.submit

