%h1 Legg til ny båt

= form_with scope: :boat, url: boats_path, local: true do |form|
  %p
    = form.label :reg_nr
    = form.text_field :reg_nr
    %br/

  %p
    = form.label :type
    = form.text_field :type
    %br/

  %p
    = form.label :bredde
    = form.text_field :width_in_meters

  %p
    = form.label :lengde
    = form.text_field :length

  %p
    = form.submit