%div.container
  %p
    %b Registreringsnummer
    = @boat.reg_number
  %p
    %b Modell
    = @boat.model
  %p
    %b Bredde
    = @boat.width
  %p
    %b Lengde
    = @boat.length

  = link_to 'Endre', edit_boat_path(@boat), class: "text-primary"
  \|
  = link_to 'Tilbake', boats_path, class: "text-primary"
