%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %ul.navbar-nav.mr-auto
    %li.nav-item
      %a.nav-link(href=home_path) Hjem
    %li.nav-item
      -# /batplass
      %a.nav-link(href=batplass_path) Båtplass
    %li.nav-item
      -# /batslipp
      %a.nav-link(href=batslipp_path) Båtslipp
    %li.nav-item
      -# /tjenester
      %a.nav-link(href=tjenester_path) Tjenester
    %li.nav-item
      -# /kontakt
    %a.nav-link(href=new_contact_path) Kontakt
  
  %ul.navbar-nav.navbar-text.ml-auto
    %li.nav-item
      - if user_signed_in? 
        - if current_user.user_level == 0
          = link_to 'Min Profil', user_dashboard_path, :class => 'navbar-link' |
        - elsif current_user.user_level == 1
          = link_to 'Dashboard', admin_dashboard_path, :class => 'navbar-link'
        = link_to "Logg ut", destroy_user_session_path, method: :delete, :class => 'navbar-link'
      - else
        = link_to "Registrering", new_user_registration_path, :class => 'navbar-link'
        = link_to "Logg inn", new_user_session_path, :class => 'navbar-link'
