%div.container
  %nav.navbar.navbar-expand-lg.bg-primary

    %div.collapse.navbar-collapse(id="navbarSupportedContent")
      %div.image-fluid
        = link_to (image_tag('logo.png', size: "360x80")), home_path
      %ul.navbar-nav.ml-auto
        %li.nav-item.text-center
          - if user_signed_in?
            Innlogget som
            = succeed "." do
              %strong= current_user.email
            %br
              = link_to 'Endre bruker', edit_user_registration_path, :class => 'text-light'
              |
              = link_to "Logg ut", destroy_user_session_path, method: :delete, :class => 'text-light'
          - else
            = link_to "Lag konto", new_user_registration_path, :class => 'navbar-link.text-primary'
            |
            = link_to "Logg inn", new_user_session_path, :class => 'navbar-link.text-primary'
  %nav.navbar.navbar-expand-lg.bg-primary
    %ul.nav.nav-pills.nav-fill
      - if current_user
        - if current_user.user_level == 0
          %li.nav-item
            = button_link 'Mine Båter', boats_path
          %li.nav-item
            = button_link 'Mine Tjenester', services_path
        - elsif current_user.user_level == 1
          %li.nav-item
            = button_link 'Båter', boats_path
          %li.nav-item
            = button_link 'Tjenester', services_path
          %li.nav-item
            = button_link 'Båtplasser', berths_path
          %li.nav-item
            = button_link 'Brygger', piers_path
          %li.nav-item
            = button_link 'Brukere', users_path
          %li.nav-item
            = button_link 'Tjenestebestillinger', service_orders_path
          %li.nav-item
            = button_link 'Båtplassbestillinger', berth_orders_path
      - else
        %li.nav-item
          %a.nav-link.btn.btn-primary.btn-lg.text-light(href=home_path) Hjem
        %li.nav-item
          %a.nav-link.btn.btn-primary.btn-lg.text-light(href=batplass_path) Båtplass
        %li.nav-item
          %a.nav-link.btn.btn-primary.btn-lg.text-light(href=boatramp_path) Båtslipp
        %li.nav-item
          %a.nav-link.btn.btn-primary.btn-lg.text-light(href=tjenester_path) Tjenester
        %li.nav-item
          %a.nav-link.btn.btn-primary.btn-lg.text-light(href=contacts_path) Kontakt
  %section.header
    %div.image-fluid
      = image_tag('header.jpg', size: "700x450")
