!!!
%html
  %head
    %title Marinade
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    %div.container
      %main.controller.controller_name
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert

    = yield
    = render 'layouts/footer'
